<configuration debug="true"> <!-- 在这里添加属性debug 是是否显示logback内部状态的配置，与日志级别无关-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="DEBUG" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>