<configuration>

    <!-- 定义替换变量-->
    <!--  从classpath 资源文件读取-->
    <property resource="logbackVar.properties" />

    <!--或者从系统资源文件中读取-->
    <!--<property file="src/main/java/chapters/configuration/variables1.properties" />-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${USER_HOME}/myApp.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>